# -----------------
# Miscellaneous
# -----------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -----------------
# IDE / Editor
# -----------------
*.iml
*.ipr
*.iws
.idea/
.vscode/

# -----------------
# Flutter / Dart / Pub
# -----------------
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# -----------------
# iOS / macOS
# -----------------
**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Ignorar credenciales de Firebase / Google
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# -----------------
# Android
# -----------------
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
android/captures/
android/local.properties
android/gradlew
android/gradlew.bat
android/key.properties
**/*.keystore
**/*.jks
android/GeneratedPluginRegistrant.java
flutter/ephemeral
lib/firebase_options.dart

# -----------------
# Otros
# -----------------
# Videos grandes
assets/videos/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json
